Flask==3.1.0
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-WTF==1.2.1
python-dotenv==1.1.0
email_validator==2.2.0
mysql-connector-python==9.2.0
flask-cors==5.0.1
gunicorn==23.0.0
